@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel p {
    font-size: 1.2rem;
    padding-left: .6rem;
    padding-top: .7rem;
    padding-right: .3rem;
    display: none;
}

.panel.activo p {
    display: block;
}

.panel.activo {
  flex: 5;
}

.panel.activo h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.flecha {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
  }
  
  .izquierda {
    left: 0;
  }
  
  .derecha {
    right: 0;
  }

  .izquierda:hover, .derecha:hover {
    background-color: rgba(65, 63, 63, 0.5);
    transition: background-color 0.3s ease-in-out;
  }

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}