/* Fonts recomendadas:
Source Sans Pro 
Roboto condensed
Roboto
Montserrat
*/

* {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: "Inter";
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fafafa;
    list-style: none;
}

body {
    position: relative;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 320px;
    line-height: 1;
    word-wrap: break-word;
}

header,main,footer {
    z-index: 2;
}

#prueba {
    background-image: url("./assets/img/fondo.svg"), linear-gradient(45deg, #2b1717 0%, #55574a 150%);
    background-size: 100% 150%, auto;
    background-position: center, 0% 0%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}

.container > * {
    max-width: 1300px;
    margin: 0 1rem;
}
