.contacto__container {
    background-color: rgba(224, 112, 21, 0.1);
    padding-bottom: 1rem;
}

.contacto__img-mensaje {
   display: none;
}

.contacto {
   padding-top: 2rem;
   width: 100%;
   display: flex;
   flex-direction: column;
}


.contacto__form {
   padding-top: 2rem;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.contacto__form__titulo {
   font-size: 1.5rem;
   font-weight: 700;
   text-align: center;
   color: #e9e8e8;
}

.contacto__form__texto {
   font-size: 1rem;
   font-weight: 500;
   color: #e9e8e8;
   padding: .8rem 0;
}

.contacto__form__formulario {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.contacto__form__formulario__contenedor {
   background-color: transparent;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   border-bottom: 2px solid #A2A2A2;
}

.contacto__form__formulario__contenedor label {
   padding: 5px 5px;
   font-size: 1.2rem;
   font-weight: 400;
   color: #e9e8e8;
}

.contacto__form__formulario__contenedor input{
   border: none;
   padding: 0 5px;
   font-size: 1rem;
   font-weight: 400;
   height: 1.5rem;
}

.contacto__form__formulario input, .contacto__form__formulario textarea {
   background-color: rgba(240, 232, 226, .5);
}

.contacto__form__formulario input:nth-child(3){
   margin: 10px 0;
   padding: 10px 5px;
   border-radius: 5px;
   border: none;
   border-bottom: 2px solid #A2A2A2;
}

.contacto__form__formulario input:nth-child(3)::placeholder{
    font-size: 1rem;
   font-weight: 400;
}

.contacto__form__formulario textarea {
   resize: none;
   padding: 10px 5px;
   border-bottom: 2px solid #A2A2A2;
   border-radius: 5px;
}

.contacto__form__formulario textarea::placeholder{
   font-size: 1rem;
   font-weight: 400;
}

.contacto__form__formulario button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 133px;
   height: 40px;
   background-color: transparent;
   color: #fafafa;
   border-radius: 4px;
   border: solid 1px #fafafa;
   margin: 5px auto;
   user-select: none;
   cursor: pointer;
}

.contacto__form__formulario button:hover {
   border: solid 1px #a8c42d;
   color: #a8c42d;
}

.btn:hover .experiencie__box__info__btn__links {
   color: #a8c42d;
}

/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 768px) {
    .contacto__form__titulo {
       text-align: start;
   }
   .contacto__form__formulario {
       margin-top: 1rem;
   }
   .contacto__form__formulario button {
       margin: .8rem 0;
   }
}

@media screen and (min-width: 992px) {
    .contacto {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contacto__img-mensaje {
        display: flex;
        width: 40%;
        max-height: 68%;
        border-radius: 80%;
        margin: 2rem;
     }
     .contacto__form {
        width: 60%;
     }
}