.experiencie__container {
    background-color: rgba(113, 87, 62, .4)
}

.experiencie {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.experiencie__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: rgb(217, 208, 193);
    text-align: center;
}

.experiencie__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.experiencie__box__img {
    width: 100%;
    margin: auto auto;
    border-radius: 30px;
    opacity: 0.5;
}

.experiencie__box__img:hover {
    opacity: 1;
}

.experiencie__box__info {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.experiencie__box__info__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
}

.experiencie__box__info__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1rem;
}

.experiencie__box__info__btn {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .65rem 1rem;
    gap: .6rem;
    background-color: transparent;
    border: solid 1px #fafafa;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    border: solid 1px #a8c42d;
}

.btn:hover .experiencie__box__info__btn__links {
    color: #a8c42d;
}

.btn a {
    text-decoration: none;
}

.experiencie__box__info__btn__links {

}

/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 992px) {
    .experiencie__box {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
    .experiencie__box__order {
        order: 2;
    }
    .experiencie__box__img {
        width: 48%;
    }
    .experiencie__box__info {
        width: 48%;
        align-items: flex-start;
        justify-content: center;
    }
    .experiencie__box__info__titulo {
        font-size: 1.5rem;
    }
    .experiencie__box__info__text {
        font-size: 1rem;
    }
}