.experiencie__container {

}

.experiencie {

}

.experiencie__titulo {

}

.experiencie__box {

}

.experiencie__box__img {

}

.experiencie__box__info {

}

.experiencie__box__info__titulo {

}

.experiencie__box__info__text {

}

.experiencie__box__info__btn {

}

.btn {
    
}

.experiencie__box__info__btn__links {

}
.dividir {
    border: 0;
    position: relative;
    width: 100%;
    display: block;
    width: 2rem;
    border-top: solid 3px #FFE91F;
    height: 3px;
}