.experiencie__container {
    background-color: #fafafa;
}

.experiencie {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.experiencie__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #464646;
}

.experiencie__box {

}

.experiencie__box__img {

}

.experiencie__box__info {

}

.experiencie__box__info__titulo {

}

.experiencie__box__info__text {

}

.experiencie__box__info__btn {

}

.btn {
    
}

.experiencie__box__info__btn__links {

}

/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 420px) {

}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    
}