.formacion__container {
    background-color: rgba(217, 208, 193, .3);
}

.formacion {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.formacion__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #fafafa;
}

.formacion__cursos {
    text-align: start;
}

.formacion__cursos__box {
    padding-bottom: 2rem;
}

.formacion__cursos__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formacion__cursos__item__img {
    display: flex;
    width: 100%;
    background-color: rgb(214, 200, 178);
    opacity: 0.6;
}

.formacion__cursos__item__img:hover {
    opacity: 1;
}

.formacion__cursos__item__img img {
    width: 30%;
    margin: auto auto;
    padding: 2.19rem 0;
}

.formacion__cursos__item__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
}

.formacion__cursos__item__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1rem;
}

/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 420px) {

}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    
}