/* contenedor de los items del menu */
header {
    position: sticky;
    top: 0px;
    background-color: #2b1b1b;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: none;
    box-sizing: border-box;
    align-items: center;
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-size: .75rem;
}

/* logo+nombre */
.header__nombre {
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.header__nombre > img {
    height: 1rem;
    fill: aqua;
    filter: saturate(0.5) hue-rotate(180deg);
}
/* contenedor de los elementos del menu */
.header__list {
    display: flex;
}

.header__list__item {
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
    padding-top: .75rem;
}

.header__list__item a {
    text-decoration: none;
}
/* elementos a ocultar en el movil-first */
.header__list__item.hidden {
    display: none;
}
/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 420px) {
    .header {
        font-size: .9rem;
    }
}

@media screen and (min-width: 576px) {
    .header {
        font-size: 1rem;
        height: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .header__nombre {
        font-size: 1rem;
        width: 30vw;
    }
}

@media screen and (min-width: 992px) {
    .header__nombre {
        width: 30vw;
    }
    .header__list__item.hidden {
        display: block;
    }
}