/* contenedor principal */
.presentacion__container {
    height: 100%;
    padding-bottom: 2rem;
}
.presentacion {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* logo de desarrollador */
.presentacion__img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin: 1.3rem 0;
}
/* contenedor de la info de la presentacion y enlaces a redes sociales */
.presentacion__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* informacion de la presentacion h2 y h3 respectivamente */
.presentacion__bio {
    font-size: 1.5rem;
    font-weight: 700;
}

.presentacion__bio2 {
    font-size: .95rem;
    font-weight: 400;
}
/* enlaces a redes sociales */
.presentacion__social {
    display: flex;  
    justify-content: space-between;
    text-align: center;
}

.presentacion__social__item {
    list-style: none;
}

.presentacion__social__item a {
    text-decoration: none;
}

.dividir {
    border: 0;
    position: relative;
    width: 100%;
    display: block;
    width: 2rem;
    border-top: solid 3px #FFE91F;
    height: 3px;
}


/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 420px) {
    .presentacion {
        max-height: 320px;
    }
}

@media screen and (min-width: 576px) {
    .presentacion {
        max-height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .presentacion__container {
        padding-bottom: 1rem;
    }
    .presentacion {
        max-height: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .presentacion__img {
        order: 2;
        margin-right: 1rem;
        width: 9rem;
        height: 9rem;
    }
    .presentacion__bio {
        font-size: 1.5rem;
    }
    .presentacion__bio2, .presentacion__social {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .presentacion__container {
        max-height: 500px;
    }
    .presentacion {
        height: 500px;
    }
    .presentacion__bio {
        font-size: 2rem;
    }
    .presentacion__bio2 {
        font-size: 1.5rem;
    }
    .presentacion__img {
        width: 18.5rem;
        height: 18.5rem;
    }
}