.sobre-mi__container {
    max-height: 350px;
}

.sobre-mi {
    height: 100%;
}

.sobre-mi__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.sobre-mi__titulo {
    font-weight: 700;
}

.sobre-mi__parrafo {
    font-weight: 300;
}

.leer-mas {
    width: 100%;
    height: 4rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leer-mas__btn {
    align-items: center;
    background-image: linear-gradient(rgba(192, 190, 43, 0.84), rgba(255, 234, 0.582) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 1rem;
    margin: 0;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.leer-mas__btn:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
  }



/* ----------------------------Parte responsiva---------------------------- */
@media screen and (min-width: 768px) {
    .sobre-mi__container {
        max-height: 400;
    }
    .sobre-mi__titulo {
        font-size: 1.5rem;
    }
    .sobre-mi__parrafo {
        font-size: .9rem;
    }
}

@media screen and (min-width: 992px) {
    .sobre-mi__container {
        max-height: 500;
    }
    .sobre-mi__titulo {
        font-size: 2rem;
    }
    .sobre-mi__parrafo {
        font-size: 1.5rem;
    }
}